<header>
	<nav class="navbar">
		<ul class="nav-list">
			<li><a href="/">Messages</a></li>
			<li><a href="/new">New Message</a></li>
			<li><a href="/contact">Join the club</a></li>
			<li><a href="/admin">Become an admin</a></li>
      <div>
        <p>Hello, <%= user.full_name.split(' ')[0] %></p>
        <a href="/logout">Log out</a>
      </div>
		</ul>
	</nav>
</header>
