<header>
  <nav>
    <ul>
      <li><a href="/">Messages</a></li>
      <li><a href="/new">New Message</a></li>
      <li><a href="/contact">Join the club</a></li>
      <li><a href="/admin">Become an admin</a></li>
    </ul>
  </nav>
</header>