<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', { title: title }) %>
<body>
  <main class="login-page">
    <form action="/login" method="POST" class="login-form">
      <div class="error <%= error ? '' : 'hidden' %>">
        <ul class="errors">
          <li>
            <%= error %>
          </li>
        </ul>
      </div>
      <div>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required>
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>
      </div>
      <button type="submit">Login</button>
    </form>
  </main>
  <%- include('partials/footer') %>
</body>
</html>