@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* css reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}


/* global styles */

:root {
  --primary-color: #c46800;
  --body-bg: #121212;
  --card-bg: #282828;
  --error-bg: #cf0000;
}

* {
  font-family: 'Inter', sans-serif;
  color: #fff;
}

header {
  min-height: 5vh;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
}

main {
  min-height: 90vh;
  background-color: var(--body-bg);
}

footer {
  min-height: 5vh;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  bottom: 0;
}

footer a {
  color: rgb(0, 47, 255);
  font-weight: 500;
}

label {
  font-size: 1.5rem;
}

input {
  padding: 0.5rem;
  font-size: 1.5rem;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  background-color: var(--card-bg);
  transition: all 0.3s;
}

input:focus {
  outline: none;
  box-shadow: 0 0 10px 3px var(--primary-color);
}

button[type='submit'] {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  background-color: var(--primary-color);
  color: var(--body-bg);
  transition: all 0.3s;
  cursor: pointer;
}

button[type='submit']:disabled {
  cursor: not-allowed;
  background-color: var(--body-bg);
  color: var(--primary-color);
}

button[type='submit']:hover {
  background-color: var(--body-bg);
  color: var(--primary-color);
}

.hidden {
  display: none;
}