.new-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  height: 95vh;
}

.new-page form {
  width: 50%;
}

.new-page a {
  color: var(--primary-color);
  transition: color 0.3s;
}

.new-page a:hover {
  color: #fff;
}